Xft.dpi: 		    100
Xft.antialias:		true
!Xft.rgba:		    rgb
Xft.hint:		    true
Xft.hinting:		hintslight

URxvt.scrollBar:	false
URxvt.font:		    xft:DejaVu Sans Mono:size=10:antialias=true
URxvt.depth:        32
!URxvt.foreground:   #FFFFFF
!URxvt.background:   [75]#000000
